
body{
    background-color: black;
}

p{
    color: white;
    text-align: center;
}

H1{
    color: white;
    text-align: center;
    
}

h2{
    color: white;
    text-align: center;
}

 .container {
        display: flex; /* or inline-flex */
        flex-direction: row;
      }


.header-haut{
    background-color: gray;
    width:100%;
    height:200px;
    padding: 20px;
}

.nav-haut{
    background-color: blueviolet;
    height: 100px;
    width: 100%;
    padding: 10px;
}

img.fred{
    height: 100px;
    width: 100px;
}

.section-gauche{
    background-color: blue;
    height: 600px;
    width: 70%;
}

.header-gauche{
    background-color: red;
    height: 60px;
    width: 100%;
}

.article-gauche{
    background-color: green;
    height: 400px;
    width: 100%;
}

.article-gauche-bas{
background-color: rgb(95, 62, 126);
height: 600px;
width: 100%;
}

.foot-section-gauche{
    background-color: brown;
    height: 50px;
    width: 100%;
}

.section-droite{
    background-color: chartreuse;
    height: 600px;
    width: 30%;
}

.header-droite{
    background-color: crimson;
    height: 60px;
    width: 100%;
}

.nav-droite{
    background-color: darkgoldenrod;
    width: 100%;
    height: 100%;
}

.nav-droite-bas{
    background-color: brown;
    width: 100%;
    height: 100%; 
}

footer{
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    color: black;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}
img {
  margin-right: 300px; 
}


